<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"></head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header th:replace="Fragments/header :: header"></header>
        <!-- end header section -->
    </div>

    <!-- book section -->
    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <h3>Add Post</h3>
                        <form action="#" th:action="@{/post/add}" method="post" th:object="${post}">
                            <div class="form-group">
                                <input type="hidden" name="account" id="account" th:field="*{account}" />
                                <input type="text" name="title" id="title" th:field="*{title}" required class="form-control"
                                    placeholder="title" />
                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"
                                    role="alert">
                                    title is required</p>
                            </div>

                            <div class="form-group">
                                <textarea name="body" id="editor" th:field="*{body}" required  class="form-control"
                                    placeholder="Body">Body</textarea>
                                    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="alert alert-danger"
                                    role="alert">
                                    body is required</p>
                            </div>

                            <button class="btn btn-primary" type="submit">
                                Add post
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->

    <!-- footer section -->
    <footer th:replace="Fragments/footer :: footer"></footer>
    <!-- footer section -->

    <script>
        if (document.getElementById('editor')) {
            CKEDITOR.replace('editor', {
                toolbar: [
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline'] },
                    { name: 'paragraph', items: ['NumberedList', 'BulletedList', 'Link', 'Unlink'] },
                    { name: 'insert', items: ['Image', 'Table'] },
                    { name: 'styles', items: ['Styles', 'Format'] }
                ]
            });
        } else {
            console.error('Editor element not found.');
        }
    </script>

</body>

</html>