<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/head :: head"></head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <xml:header th:replace="Fragments/header :: header"></xml:header>

    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="posts" th:each="post : ${posts}">

        <h3><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Post Title</a></h3>
        <h5
          th:text="'Author: ' + ${post.account.username} + ' | Created At : ' + ${#temporals.format(post.postedOn, 'dd-MM-yyyy HH:mm')} +
          ' | Updated At : ' + ${#temporals.format(post.updatedOn, 'dd-MM-yyyy HH:mm')}">
        </h5>
        <p th:utext="${post.body}">Post content goes here...</p>
        <hr color="grey" size="1">


      </div>


    </div>
  </section>

  <xml:footer th:replace="Fragments/footer :: footer"></xml:footer>



</body>

</html>